:root{
	--gn: green;
	--oc: orange;
}




.div6{
	width: 200px;
	height: 200px;
	background-color: var(--gn);

	transform: skew(20deg);
/*	transform: skew(-20deg);*/
}

.div7{
	width: 200px;
	height: 200px;
	background-color: var(--oc);

/*				translateX */
	transform: translate(50px);
/*	transform: translate(-100px);*/


/*transform: translateX(100px);*/
/*	transform: translateY(100px);*/
/*	transform: translateY(-100px);*/

}

.div8{
	width: 200px;
	height: 200px;
	background-color: var(--gn);

/*				translate (x,y)*/
/*	transform: translate(50%,50%);*/
/*	transform: translate(50%,-50%);*/

transform: translateX(-50%) translateY(-50%);

}

h1{
	text-align: center;
	color: green;
}

p.text{
	text-align: justify;
	color: steelblue;
}


@media(max-width:600px){

	h1{
		color: steelblue;
		font-size:20px;
	}

	p.text{
		color: green;
	}

}